body {
  margin: 0;
  font-family: 'Press Start 2P', cursive;
  background: url("fondo.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  text-align: center;
}

/* CONTENEDOR */
.container {
  background: rgba(0, 0, 0, 0.65);
  padding: 25px;
  border-radius: 15px;
  display: inline-block;
  margin-top: 20px;
}

/* TITULO */
h1 {
  color: #facc15;
  text-shadow: 0 0 10px #facc15;
}

.autor {
  font-size: 12px;
  color: #38bdf8;
}

/* PANEL */
.panel {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin: 20px 0;
}

.stat {
  background: rgba(255,255,255,0.08);
  padding: 10px 15px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(255,255,255,0.2);
}

canvas {
  background: url("canva.jpg");
  background-size: cover;
  background-position: center;
  border: 3px solid #38bdf8;
  box-shadow: 0 0 20px #38bdf8;
  margin-top: 10px;
}

/* CONTROLES */
.controles {
  margin-top: 20px;
}

.controles button {
  font-size: 20px;
  padding: 10px 15px;
  margin: 5px;
  border-radius: 10px;
  border: none;
  background: #1e293b;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.controles button:hover {
  background: #38bdf8;
  box-shadow: 0 0 10px #38bdf8;
}

/* BOTON REINICIAR */
.btn-reiniciar {
  margin-top: 15px;
  padding: 12px 20px;
  font-size: 14px;
  border-radius: 10px;
  border: none;
  background: #ef4444;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.btn-reiniciar:hover {
  box-shadow: 0 0 15px #ef4444;
}

/* MENSAJE */
#mensaje {
  margin-top: 15px;
  font-size: 14px;
  color: #f87171;
}